.mainContainer {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

%square {
  position: fixed;
  border: 1px solid #e7e9ef;
  box-sizing: border-box;
  z-index: -1;
  pointer-events: none;
}

.topLeftSquare {
  @extend %square;
  top: 0px;
  left: 75px;
  width: 750px;
  height: 498px;
  border-top: none;
}

.topRightSquare {
  @extend %square;
  top: 0px;
  left: 824px;
  width: 750px;
  height: 498px;
  border-top: none;
}

.bottomLeftSquare {
  @extend %square;
  top: 497px;
  left: 75px;
  width: 750px;
  height: 498px;
  border-bottom: none;
}

.bottomRightSquare {
  @extend %square;
  top: 497px;
  left: 824px;
  width: 750px;
  height: 498px;
  border-bottom: none;
}

.contentContainer {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
}

.header {
  margin: 0px;
}

.title {
  font-size: 55px;
  margin-bottom: 30px;
  line-height: 1.3;
  color: #42567a;
}

.centerContainer {
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  white-space: nowrap;
}

.oldYear {
  font-size: 125px;
  word-spacing: 65px;
  color: #5d5fef;
}

.newYear {
  font-size: 125px;
  word-spacing: 65px;
  color: #ef5da8;
}

//

.timeCircle {
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  z-index: 5;
}

.circleSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timeDot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #42567a;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  .dotContent {
    color: #42567a;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s ease;
  }

  .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #42567a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #42567a;
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -40px;
  }
}
